<!--BackEnd\templates\statics\footer.html-->
<footer class="bg-danger text-light py-4 mt-5">
    <div class="container text-center">
      <p class="mb-0">&copy; {% now 'Y' %} Bridgewater State University Academic Roadmap. All rights reserved.</p>
      <div class="mt-2">
        <a href="#" class="text-light mx-2"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-light mx-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-light mx-2"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </footer>